.not-found {
  display: grid;
  justify-items: center;
  text-align: center;
  row-gap: 1.5rem;

  padding-block: 4rem;
}

.not-found__icon {
  display: block;
  aspect-ratio: 1;
  width: 3rem;
}

.not-found__title {
  font-size: 1.125rem;
  font-weight: 700;
}

@media only screen and (min-width: 40em) {
  .not-found {
    padding-block: 5rem;
  }

  .not-found__title {
    font-size: 1.25rem;
  }

  .not-found__icon {
    width: 4rem;
  }
}
