.word-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.word-info__heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.word-info__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;

  transition: font-size 0.3s;
}

.word-info__phonetic {
  font-size: 1.125rem;
  color: var(--clr-accent-400);

  transition: font-size 0.3s;
}

.word-info__source {
  display: flex;
  column-gap: 1.5rem;
  align-items: baseline;
  flex-wrap: wrap;

  padding-block: 1.5rem 4rem;
  margin-top: 2rem;
  border-top: 1px solid var(--clr-line);
  font-size: 0.875rem;
}

.word-info__source-title {
  color: var(--clr-gray);
  text-decoration: underline;
  text-decoration-color: currentColor;
  margin-bottom: 0.5rem;
}

.word-info__link {
  color: var(--clr-body);
  text-decoration: none;
  transition: color 0.2s;
}

.word-info__link::after {
  content: url(/src/assets/images/icon-new-window.svg);
  margin-left: 0.5rem;
}

.word-info__link:hover {
  color: var(--clr-accent-400);
  text-decoration: underline;
}

@media only screen and (min-width: 40em) {
  .word-info__title {
    font-size: 4rem;
  }

  .word-info__phonetic {
    font-size: 1.5rem;
  }

  .word-info__source {
    margin-top: 2.625rem;
    padding-block: 1.5rem 7.75rem;
  }
}
