.audio-btn {
  aspect-ratio: 1;
  cursor: pointer;
  width: 3rem;

  border: none;
  border-radius: 50%;
  background-color: var(--clr-accent-300);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s, width 0.3s;
}

.audio-btn::after {
  content: '';
  display: block;
  aspect-ratio: 1;
  width: 0.8125rem;

  background-color: var(--clr-accent-400);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  transform: translateX(2px);
  transition: background-color 0.3s, width 0.3s;
}

.audio-btn:focus-visible,
.audio-btn:hover {
  background-color: var(--clr-accent-400);
  outline: none;
}

.audio-btn:focus-visible::after,
.audio-btn:hover::after {
  background-color: var(--clr-neutral-100);
  outline: none;
}

@media only screen and (min-width: 40em) {
  .audio-btn {
    width: 4.6875rem;
  }

  .audio-btn::after {
    width: 1.3125rem;
  }
}
